# Django Settings
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Usar MySQL em vez de SQLite
DB_USE_SQLITE=false
DB_NAME=coverde_db
DB_USER=root
DB_PASSWORD=0000
DB_HOST=localhost
DB_PORT=3306
# Email (desenvolvimento)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@coverde.pt

# Segurança
MAX_LOGIN_ATTEMPTS=5
ACCOUNT_LOCK_MINUTES=15

# Envio
FREE_SHIPPING_THRESHOLD_EUR=50
DEFAULT_SHIPPING_COST_EUR=5
VAT_RATE=0.06